github "Alamofire/Alamofire" ~> 4.4
github "xmartlabs/Eureka" ~> 2.0.0
github "auth0/Lock.swift" ~> 2.2
github "auth0/Auth0.swift" ~> 1.5
github "ViccAlexander/Chameleon"
github "evgenyneu/SigmaSwiftStatistics" ~> 6.0
